/* *************************** */
/*Web  fonts */

/* *************************** */


/* *************************** */
/*Variables */

/* *************************** */

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --gradient: linear-gradient(to bottom, hsl(215, 20%, 17%), hsl(215, 24%, 15%))
}

/* *************************** */
/*Reset */

/* *************************** */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
p {
  margin: unset;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {

  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font: clamp(14px, 3vw, 15px) / 1.6 Overpass, sans-serif, ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  background-color: var(--very-dark-blue);
  display: grid;
  place-items: center;
  min-block-size: 100vh;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* *************************** */
/*CLASSES */

/* *************************** */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.text-center {
  text-align: center;
}

/* *************************** */
/*TYPOGRAFY */

/* *************************** */

h1 {
  color: var(--white);
  font-size: clamp(24px, 5vw, 28px);
  line-height: 1.25;
  margin-bottom: 0.4375rem;
}

p {
  color: var(--light-grey);
}

/* *************************** */
/* Layout */

/* *************************** */

main {
  background-image: var(--gradient);
  max-width: 25.75rem;
  width: calc(100% - 2rem);
  border-radius: 1.875rem;
  padding: clamp(1.5rem, 3vw, 2rem);



}

.logo {
  --size: 3rem;
  background-color: var(--dark-blue);
  width: var(--size);
  height: var(--size);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1.875rem;
}

/* *************************** */
/* FORM ELEMENTS */

/* *************************** */

.button {

  --size: 2.8125rem;
  background-color: var(--orange);
  border: unset;
  color: var(--white);
  text-transform: uppercase;
  height: var(--size);
  border-radius: var(--size);
  width: 100%;
  cursor: pointer;
  appearance: none;
  font-weight: 700;
  letter-spacing: 2px;
  transition: background-color 0.15s linear, color 0.15s linear;
}

.button:is(:hover, :focus-visible) {
  background-color: var(--white);
  color: var(--orange);
  outline: none;
}

.rating-group {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5rem 2rem;
}

.input-radio .control {
  --size: clamp(2.625rem, 13vw, 3.1875rem);
  display: block;
  background-color: var(--dark-blue);
  color: var(--light-grey);
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  text-align: center;
  line-height: var(--size);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.15s linear, color 0.15s linear;
}

.input-radio input:checked+.control {
  background-color: var(--medium-grey);
  color: var(--white);
}

.input-radio:hover .control,
.input-radio input:focus+.control {
  background-color: var(--orange);
  color: var(--white);

}

/* *************************** */
/*RATING RESULT*/

/* *************************** */

.rating-result {
  --size: 2rem;
  background-color: var(--dark-blue);
  color: var(--orange);
  height: var(--size);
  border-radius: var(--size);
  line-height: var(--size);
  width: max-content;
  margin-inline: auto;
  padding-inline: 1.25rem;
  margin-block: 2rem;
}

.illustration {
  margin-inline: auto;
}

/* *************************** */
/*ANIMATION*/

/* *************************** */

.animate-out {
  animation: animate-out 0.15s ease-out both
}

.animate-in {
  animation: animate-in 0.15s ease-out both
}

@keyframes animate-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    translate: -3rem;
  }
}

@keyframes animate-in {
  from {
    opacity: 0;
    translate: 3rem;
  }

  to {
    opacity: 1;
    translate: 0rem;
  }
}